# Analýza dat pomocí Pandas

![](http://www.priroda.cz/clanky/foto/panda3.jpg)

Nejprvé naimportujeme potřebné baličky.
Pokud tyto baličky nemáte, nainstalujte je pomocí následujících príkazů v příkazovém řádku.

`sudo apt-get install python3-pandas`

`sudo apt-get install python3-matplotlib`

Společně s `pandas` by mělo být nainstalovaný baliček `numpy`. Pokud ne, nainstalujtě jej pomocí následujícícho příkazu:

`sudo apt-get install python-numpy`

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

Načteme data do DataFrame a pojmenujeme sloupce.

In [8]:
df = pd.read_table("/home/nasta/Documents/python_bio/apples/apple.genes", header=None)
df.columns = ["Gen", "Transkript", "Chromozom", "Řetězec", "Start", "Stop", "Exony"]

In [9]:
df.head()

,Gen,Transkript,Chromozom,Řetězec,Start,Stop,Exony
0,MDP0000303933,MDP0000303933,chr1,-,4276,5447,"(4276-4368,4423-4542,4733-4911,5321-5447)"
1,MDP0000223353,MDP0000223353,chr1,+,77339,79628,"(77339-77399,77484-77524,77589-77630,78413-784..."
2,MDP0000322928,MDP0000322928,chr1,+,103533,103686,(103533-103686)
3,MDP0000151845,MDP0000151845,chr1,-,121369,122541,(121369-122541)
4,MDP0000307409,MDP0000307409,chr1,-,123810,125906,"(123810-125614,125804-125906)"

In [10]:
df.tail()

,Gen,Transkript,Chromozom,Řetězec,Start,Stop,Exony
5451,MDP0000165503,MDP0000165503,chr3,-,39871832,39875913,"(39871832-39871939,39872744-39872807,39872992-..."
5452,MDP0000575784,MDP0000575784,chr3,-,39877141,39877811,"(39877141-39877434,39877686-39877811)"
5453,MDP0000575784,MDP0000575784.1,chr3,-,39877141,39877811,"(39877141-39877434,39877500-39877550,39877686-..."
5454,MDP0000647499,MDP0000647499,chr3,+,39898182,39898847,(39898182-39898847)
5455,MDP0000216874,MDP0000216874,chr3,-,39902674,39906448,"(39902674-39902837,39902954-39903045,39903532-..."

Zjistíme počet řádků a slopců pomocí `df.shape`

In [18]:
df.shape

(5456, 7)

Přidáme sloupec "Počet_exonů".

In [21]:
df["Počet_exonů"] = df["Exony"].str.count("-")
df.head()

,Gen,Transkript,Chromozom,Řetězec,Start,Stop,Exony,Počet_exonů
0,MDP0000303933,MDP0000303933,chr1,-,4276,5447,"(4276-4368,4423-4542,4733-4911,5321-5447)",4
1,MDP0000223353,MDP0000223353,chr1,+,77339,79628,"(77339-77399,77484-77524,77589-77630,78413-784...",7
2,MDP0000322928,MDP0000322928,chr1,+,103533,103686,(103533-103686),1
3,MDP0000151845,MDP0000151845,chr1,-,121369,122541,(121369-122541),1
4,MDP0000307409,MDP0000307409,chr1,-,123810,125906,"(123810-125614,125804-125906)",2

Přidáme sloupec "Velikost_genu".

In [24]:
df["Velikost_genu"] = df["Stop"]-df["Start"]
df.head()

,Gen,Transkript,Chromozom,Řetězec,Start,Stop,Exony,Počet_exonů,Velikost_genu
0,MDP0000303933,MDP0000303933,chr1,-,4276,5447,"(4276-4368,4423-4542,4733-4911,5321-5447)",4,1171
1,MDP0000223353,MDP0000223353,chr1,+,77339,79628,"(77339-77399,77484-77524,77589-77630,78413-784...",7,2289
2,MDP0000322928,MDP0000322928,chr1,+,103533,103686,(103533-103686),1,153
3,MDP0000151845,MDP0000151845,chr1,-,121369,122541,(121369-122541),1,1172
4,MDP0000307409,MDP0000307409,chr1,-,123810,125906,"(123810-125614,125804-125906)",2,2096

Podíváme se na popisnou statistiku numerických sloupců pomocí `df.describe`.

V nášem případě jsou to jenom 4 sloupce, z čehož popisná statistika dává smysl jenom u sloupců "Počet_exonů" a "Velikost_genu".

In [25]:
df.describe()

                 Start             Stop  Počet_exonů  Velikost_genu
count      5456.000000      5456.000000  5456.000000    5456.000000
mean   19787426.791972  19790303.794172     5.077163    2877.002199
std    12017288.385368  12017296.260696     4.906019    2916.799005
min        4276.000000      5447.000000     1.000000      90.000000
25%     8825954.500000   8829904.500000     2.000000     911.750000
50%    19565861.500000  19570904.000000     3.000000    2034.500000
75%    31200448.500000  31202358.500000     7.000000    3792.750000
max    40159902.000000  40163103.000000    63.000000   30951.000000

Vybereme sloupce

In [27]:
df.Gen

0       MDP0000303933
1       MDP0000223353
2       MDP0000322928
3       MDP0000151845
4       MDP0000307409
5       MDP0000153869
6       MDP0000187420
7       MDP0000286949
8       MDP0000482754
9       MDP0000726869
10      MDP0000130529
11      MDP0000834450
12      MDP0000135949
13      MDP0000195757
14      MDP0000025650
15      MDP0000025650
16      MDP0000918616
17      MDP0000907499
18      MDP0000229381
19      MDP0000229382
20      MDP0000648408
21      MDP0000246923
22      MDP0000419196
23      MDP0000434787
24      MDP0000312784
25      MDP0000423722
26      MDP0000413077
27      MDP0000170030
28      MDP0000478153
29      MDP0000249932
            ...
5426    MDP0000161050
5427    MDP0000930498
5428    MDP0000626322
5429    MDP0000265670
5430    MDP0000163387
5431    MDP0000163388
5432    MDP0000123032
5433    MDP0000317575
5434    MDP0000251717
5435    MDP0000498699
5436    MDP0000209004
5437    MDP0000367689
5438    MDP0000209003
5439    MDP0000498703
5440    MDP0000216469
5441    MDP0000540543
5442    MDP0000475204
5443    MDP0000216667
5444    MDP0000146276
5445    MDP0000256000
5446    MDP0000146278
5447    MDP0000822317
5448    MDP0000359897
5449    MDP0000135196
5450    MDP0000165501
5451    MDP0000165503
5452    MDP0000575784
5453    MDP0000575784
5454    MDP0000647499
5455    MDP0000216874
Name: Gen, dtype: object

In [30]:
df[["Gen", "Start", "Stop"]]

                Gen     Start      Stop
0     MDP0000303933      4276      5447
1     MDP0000223353     77339     79628
2     MDP0000322928    103533    103686
3     MDP0000151845    121369    122541
4     MDP0000307409    123810    125906
5     MDP0000153869    135056    135555
6     MDP0000187420    157313    161160
7     MDP0000286949    161876    162460
8     MDP0000482754    178517    181369
9     MDP0000726869    218660    220437
10    MDP0000130529    276056    276562
11    MDP0000834450    298287    300588
12    MDP0000135949    316480    320213
13    MDP0000195757    335937    342691
14    MDP0000025650    465389    466698
15    MDP0000025650    465389    466698
16    MDP0000918616    468182    473982
17    MDP0000907499    580436    584704
18    MDP0000229381    599175    606092
19    MDP0000229382    608152    608748
20    MDP0000648408    616983    617894
21    MDP0000246923    636459    640237
22    MDP0000419196    669612    673679
23    MDP0000434787    715909    716556
24    MDP0000312784   1166191   1170124
25    MDP0000423722   1188448   1188870
26    MDP0000413077   1257327   1260411
27    MDP0000170030   1344130   1347183
28    MDP0000478153   1423140   1423919
29    MDP0000249932   1424196   1424979
...             ...       ...       ...
5426  MDP0000161050  39105121  39108632
5427  MDP0000930498  39125695  39125904
5428  MDP0000626322  39159571  39160313
5429  MDP0000265670  39173979  39177825
5430  MDP0000163387  39186482  39187420
5431  MDP0000163388  39191614  39192526
5432  MDP0000123032  39207033  39207362
5433  MDP0000317575  39217590  39222016
5434  MDP0000251717  39258377  39260955
5435  MDP0000498699  39281652  39282379
5436  MDP0000209004  39286393  39288278
5437  MDP0000367689  39286481  39286652
5438  MDP0000209003  39289048  39290482
5439  MDP0000498703  39291818  39292429
5440  MDP0000216469  39298556  39298756
5441  MDP0000540543  39350017  39351780
5442  MDP0000475204  39439848  39440186
5443  MDP0000216667  39494955  39496304
5444  MDP0000146276  39822360  39823874
5445  MDP0000256000  39825220  39825714
5446  MDP0000146278  39830945  39835144
5447  MDP0000822317  39836021  39837184
5448  MDP0000359897  39837866  39838034
5449  MDP0000135196  39840194  39848690
5450  MDP0000165501  39865382  39869605
5451  MDP0000165503  39871832  39875913
5452  MDP0000575784  39877141  39877811
5453  MDP0000575784  39877141  39877811
5454  MDP0000647499  39898182  39898847
5455  MDP0000216874  39902674  39906448

[5456 rows x 3 columns]

Seřadíme sestupně řádky dle velikosti genů a počtu exonů.

In [34]:
df.sort_values(["Velikost_genu", "Počet_exonů"], ascending=False)

,Gen,Transkript,Chromozom,Řetězec,Start,Stop,Exony,Počet_exonů,Velikost_genu
3448,MDP0000312088,MDP0000312088,chr2,+,35500600,35531551,"(35500600-35501010,35501120-35501236,35501464-...",50,30951
3953,MDP0000279951,MDP0000279951,chr3,-,5463665,5489261,"(5463665-5463781,5463888-5464147,5489147-5489261)",3,25596
3674,MDP0000321472,MDP0000321472,chr2,-,39915011,39940155,"(39915011-39915090,39915321-39915610,39916106-...",48,25144
4465,MDP0000310012,MDP0000310012,chr3,+,15197957,15221624,"(15197957-15198118,15198432-15198497,15198597-...",49,23667
2528,MDP0000259414,MDP0000259414,chr2,-,12061728,12085345,"(12061728-12061847,12062166-12062378,12062466-...",37,23617
647,MDP0000271982,MDP0000271982,chr1,+,20755546,20778581,"(20755546-20755625,20757466-20757520,20757620-...",20,23035
2515,MDP0000266474,MDP0000266474,chr2,-,11939032,11962051,"(11939032-11939556,11939651-11940202,11940370-...",33,23019
1570,MDP0000322409,MDP0000322409,chr1,-,35590702,35613351,"(35590702-35592167,35592285-35592718,35592827-...",63,22649
1052,MDP0000262883,MDP0000262883,chr1,+,28698320,28719998,"(28698320-28699220,28699392-28699573,28700523-...",20,21678
1952,MDP0000283610,MDP0000283610,chr2,-,4040399,4061683,"(4040399-4040536,4041164-4041287,4041371-40414...",35,21284
3245,MDP0000301931,MDP0000301931,chr2,+,31536037,31557111,"(31536037-31536525,31537811-31537897,31538572-...",19,21074
5163,MDP0000754791,MDP0000754791,chr3,-,34827317,34848300,"(34827317-34827400,34835132-34835438,34836513-...",12,20983
415,MDP0000321447,MDP0000321447,chr1,-,14661395,14682336,"(14661395-14661572,14662855-14663301,14663436-...",20,20941
3547,MDP0000251264,MDP0000251264,chr2,-,37931759,37951456,"(37931759-37931884,37939683-37939751,37939837-...",14,19697
5407,MDP0000260907,MDP0000260907,chr3,+,38913374,38932863,"(38913374-38913579,38913934-38914165,38914532-...",35,19489
4570,MDP0000275924,MDP0000275924,chr3,-,20003180,20021799,"(20003180-20003662,20003780-20003890,20004869-...",9,18619
2195,MDP0000311595,MDP0000311595,chr2,-,6572916,6591526,"(6572916-6572990,6573321-6574175,6574582-65751...",21,18610
504,MDP0000239495,MDP0000239495,chr1,+,17200663,17219095,"(17200663-17200961,17201105-17201301,17202750-...",23,18432
674,MDP0000284128,MDP0000284128,chr1,-,21476432,21494840,"(21476432-21476740,21476827-21476934,21477038-...",29,18408
3777,MDP0000230907,MDP0000230907,chr3,-,1759461,1777614,"(1759461-1759697,1760121-1760181,1761130-17611...",48,18153
4525,MDP0000148571,MDP0000148571,chr3,+,17911895,17929920,"(17911895-17912872,17913032-17913373,17913474-...",27,18025
4574,MDP0000252237,MDP0000252237,chr3,+,20102884,20120855,"(20102884-20102953,20103264-20103298,20105277-...",28,17971
2676,MDP0000219559,MDP0000219559,chr2,-,15121714,15139294,"(15121714-15121809,15121900-15121982,15122346-...",35,17580
4568,MDP0000439958,MDP0000439958,chr3,-,19956794,19974320,"(19956794-19956958,19957981-19958067,19958422-...",22,17526
4273,MDP0000271845,MDP0000271845,chr3,+,10420170,10437119,"(10420170-10420329,10420618-10420774,10421733-...",8,16949
4049,MDP0000641838,MDP0000641838,chr3,-,6957178,6973726,"(6957178-6959067,6959252-6959498,6959907-69610...",6,16548
3589,MDP0000276979,MDP0000276979,chr2,+,38533386,38549800,"(38533386-38533504,38533924-38534048,38534841-...",14,16414
933,MDP0000296681,MDP0000296681,chr1,+,26314860,26331147,"(26314860-26315043,26315251-26315405,26315497-...",27,16287
4212,MDP0000247737,MDP0000247737,chr3,+,9626313,9642356,"(9626313-9626858,9627036-9627203,9629820-96313...",20,16043
751,MDP0000257180,MDP0000257180,chr1,-,22467528,22483571,"(22467528-22467579,22467671-22467850,22467943-...",19,16043
...,...,...,...,...,...,...,...,...,...
5363,MDP0000359898,MDP0000359898,chr3,+,38405949,38406057,(38405949-38406057),1,108
243,MDP0000348298,MDP0000348298,chr1,-,10198926,10199031,(10198926-10199031),1,105
1091,MDP0000333069,MDP0000333069,chr1,+,30022712,30022817,(30022712-30022817),1,105
1351,MDP0000348117,MDP0000348117,chr1,-,33310184,33310289,(33310184-33310289),1,105
1594,MDP0000354791,MDP0000354791,chr1,+,35802545,35802650,(35802545-35802650),1,105
3354,MDP0000359495,MDP0000359495,chr2,-,33471121,33471226,(33471121-33471226),1,105
3512,MDP0000354776,MDP0000354776,chr2,+,36613763,36613868,(36613763-36613868),1,105
5236,MDP0000357832,MDP0000357832,chr3,-,36742949,36743054,(36742949-36743054),1,105
1330,MDP0000360939,MDP0000360939,chr1,-,33143940,33144042,(33143940-33144042),1,102
2267,MDP0000339327,MDP0000339327,chr2,+,7849458,7849560,(7849458-7849560),1,102
2698,MDP0000354316,MDP0000354316,chr2,+,15526607,15526709,(15526607-15526709),1,102
2961,MDP0000347876,MDP0000347876,chr2,+,23291885,23291987,(23291885-23291987),1,102
4378,MDP0000358971,MDP0000358971,chr3,-,12479028,12479130,(12479028-12479130),1,102
4698,MDP0000358162,MDP0000358162,chr3,+,24142975,24143077,(24142975-24143077),1,102
3505,MDP0000357922,MDP0000357922,chr2,-,36481298,36481398,(36481298-36481398),1,100
1143,MDP0000353109,MDP0000353109,chr1,-,30503120,30503219,(30503120-30503219),1,99
4655,MDP0000323817,MDP0000323817,chr3,-,22621784,22621883,(22621784-22621883),1,99
5245,MDP0000366430,MDP0000366430,chr3,-,36869598,36869697,(36869598-36869697),1,99
175,MDP0000352744,MDP0000352744,chr1,-,7836368,7836464,(7836368-7836464),1,96
4622,MDP0000351381,MDP0000351381,chr3,-,21540180,21540276,(21540180-21540276),1,96
457,MDP0000368593,MDP0000368593,chr1,-,16095400,16095493,(16095400-16095493),1,93
1555,MDP0000363181,MDP0000363181,chr1,-,35506714,35506807,(35506714-35506807),1,93
1896,MDP0000361305,MDP0000361305,chr2,-,3464364,3464457,(3464364-3464457),1,93
3034,MDP0000345455,MDP0000345455,chr2,-,25310296,25310389,(25310296-25310389),1,93
3661,MDP0000359298,MDP0000359298,chr2,-,39760097,39760190,(39760097-39760190),1,93
4400,MDP0000358996,MDP0000358996,chr3,-,12771723,12771816,(12771723-12771816),1,93
4886,MDP0000354759,MDP0000354759,chr3,+,29626460,29626553,(29626460-29626553),1,93
1023,MDP0000354609,MDP0000354609,chr1,-,27754839,27754929,(27754839-27754929),1,90
1387,MDP0000352240,MDP0000352240,chr1,+,33912334,33912424,(33912334-33912424),1,90
3665,MDP0000354215,MDP0000354215,chr2,-,39813545,39813635,(39813545-39813635),1,90